.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
  background-color: rgb(255, 255, 255);
}

.closeBtn {
  display: flex;
  position: relative;
  right: 0;
  left: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.closeBtnIcon{
  width: 20px;
  height: 20px;
}

.image {
  margin: 0 auto;
  max-width: 90%;
  max-height: 300px;
}

.modalDescription {
  text-align: center;
  margin: 10px 0;
}